<template>
  <section class="section-circle-service">
    <img src="/img/illustration/circle-service.png" class="img-fluid" alt="" />
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-circle-service {
  position: absolute;
  z-index: 1;
  right: -5%;
  top: 50%;
  overflow: hidden;
  animation: rotate 10s linear infinite forwards;
}
.section-circle-service img {
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  62% {
    opacity: 1;
  }
  99.99% {
    z-index: 2;
  }
  100% {
    transform: rotate(360deg);
    z-index: -1;
  }
}

@media(max-width:768px){
  .section-circle-service{
   right: -25%;
    top: 25%;
  }
}
</style>