:root {
    --ColorOrange: #F2994A;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(136.16deg, rgba(45, 46, 9, 0.97) 12.91%, rgba(32, 10, 43, 0.69) 87.68%), #121212;
}

h1 {
    color: var(--bs-white);
}


/* =========== Buttons =========== */

.btn-outline-yellow {
    border-color: var(--ColorOrange);
    border-radius: 35px;
    padding: 10px 40px;
    color: var(--bs-white);
    font-family: PoppinsMedium;
    font-size: 14px;
}

.btn-outline-yellow:hover {
    color: var(--bs-white);
    background: var(--ColorOrange);
    transition: .5s;
}

.btn-contact-navbar {
    border-color: var(--ColorOrange);
    border-radius: 35px;
    padding: 10px 40px;
    color: var(--ColorOrange);
    font-family: PoppinsMedium;
    font-size: 14px;
}

.btn-contact-navbar:hover {
    color: var(--bs-white);
    background: var(--ColorOrange);
    transition: .5s;
}