<template>
  <div class="section-client">
    <swiper class="swiper" :options="swiperOption">
      <swiper-slide
        ><img src="/img/client/detik.png" class="img-fluid" alt=""
      /></swiper-slide>
      <swiper-slide
        ><img src="/img/client/liputan6.png" class="img-fluid" alt=""
      /></swiper-slide>
      <swiper-slide
        ><img src="/img/client/detik.png" class="img-fluid" alt=""
      /></swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
export default {
  name: "SwiperClient",
  title: "Swiper Client Slider",
  components: {
    Swiper,
    SwiperSlide
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 5,
        spaceBetween: 30,
       
        breakpoints: {
          1024: {
            slidesPerView: 3,
            spaceBetween: 40
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 30
          },
          640: {
            slidesPerView: 1,
            spaceBetween: 0
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 0
          }
        }
      }
    };
  }
};
</script>

<style>
.section-client {
  margin-top: 1.5rem;
  text-align: center;
}
@media(max-width:768px){
  .section-client{
    margin-top: 2.5rem;
  }
}
</style>
