<template>
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <div class="footer-item">
              <a href="#">Follow Us on</a>
            </div>
            <div class="footer-sosmed ms-4">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#" class="ms-3 me-3"><i class="bi bi-linkedin"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 1rem 0;
}
.section-footer .footer-item a {
  color: var(--bs-white);
  text-decoration: none;
}
.section-footer .footer-sosmed a {
  color: var(--bs-white);
}
</style>