<template>
  <section class="section-hero">
    <div class="container-fluid">
      <div class="hero-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="hero-images">
              <div class="cloud-1">
                <img
                  src="/img/illustration/hero/cloud-1.png"
                  class="img-fluid"
                  alt=""
                  data-aos="fade-right"
                  data-aos-offset="300"
                  data-aos-duration="800"
                  data-aos-easing="ease-in-sine"
                />
              </div>
              <div class="cloud-2">
                <img
                  src="/img/illustration/hero/cloud-2.png"
                  class="img-fluid"
                  alt=""
                  data-aos="fade-left"
                  data-aos-offset="300"
                  data-aos-duration="1000"
                  data-aos-easing="ease-in-sine"
                />
              </div>
              <img
                src="/img/illustration/hero/earth.png"
                class="img-fluid"
                alt=""
                data-aos="fade-up"
              />
              <div class="people">
                <img
                  src="/img/illustration/hero/people.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-6 align-self-md-center">
            <div class="hero-content">
              <h5>#1 AGENCY IN INDONESIA</h5>
              <h1 class="display-3">WE ARE CREATED<br />UNIQUE DESIGN</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem
                vitae vestibulum interdum turpis egestas sit elit, congue fames.
                Facilisi mattis neque cursus sed.
              </p>

              <div class="hero-navigation">
                <NuxtLink to="#" class="btn btn-outline-yellow"
                  >Our Work</NuxtLink
                >
                <a href="#" class="navigation ms-3 ms-md-5 text-white"
                  >See what we done&nbsp;<i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <Client />
    </div>
  </section>
</template>

<script>
export default {};
</script>

<script>
import Client from "@/components/Client.vue";
export default {
  components: {
    Client,
  },
};
</script>

<style>
.hero-wrapper {
}
/* .section-hero .swiper {
  height: 500px;
  width: 100%;
} */
.section-hero .hero-wrapper .hero-images {
  position: relative;
  text-align: center;
}
.section-hero .hero-wrapper .hero-images .cloud-1,
.section-hero .hero-wrapper .hero-images .cloud-2 {
  position: absolute;
}
.section-hero .hero-wrapper .hero-images .cloud-1 {
  width: 300px;
}
.section-hero .hero-wrapper .hero-images .cloud-2 {
  right: 15%;
  width: 130px;
}
.section-hero .hero-wrapper .hero-images .people {
  position: absolute;
  z-index: 10;
  top: 0;
  animation: bounce 1.5s infinite;
}
.section-hero .hero-wrapper .hero-images .people img {
  margin-left: 1rem;
}
.section-hero .hero-wrapper .hero-content h5 {
  color: var(--ColorOrange);
}
.section-hero .hero-wrapper .hero-content h1 {
  color: var(--bs-white);
  font-family: PoppinsBold;
}
.section-hero .hero-wrapper .hero-content p {
  color: var(--bs-white);
  opacity: 0.8;
  width: 65%;
  font-size: 14px;
  font-family: PoppinsMedium;
}
.section-hero .hero-wrapper .hero-content .hero-navigation a.navigation {
  text-decoration: none;
  font-size: 14px;
  font-family: PoppinsMedium;
}

.client-icons {
  margin-top: 1.5rem;
}

/* Animation */
@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

@media (max-width: 768px) {
  .main-wrapper {
    height: 100% !important;
    padding-bottom: 3rem;
  }
  .section-hero .hero-wrapper .hero-images {
    /* margin-top: 5rem; */
  }
  .section-hero .hero-wrapper .hero-images .cloud-1 {
    width: 100px;
  }
  .section-hero .hero-wrapper .hero-images .cloud-2 {
    right: 0;
    width: 100px;
  }
  .section-hero .hero-wrapper .hero-images .people img {
    margin-left: -2rem;
    margin-top: 1rem;
  }
  .client-icons {
    margin-top: 3rem;
  }
}
</style>
