<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img v-bind:src="`/img/` + logo + `.png`" v-bind:alt="title" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <NuxtLink
            class="nav-link"
            v-for="route in routes"
            :key="route.name"
            :to="route.path"
            >{{ route.name }}
          </NuxtLink>

          <NuxtLink class="btn btn-contact-navbar" to="/contact"
            >Contact Us</NuxtLink
          >
        </div>
      </div>
      <div
        class="offcanvas offcanvas-start d-block d-md-none"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            <img v-bind:src="`/img/` + logo + `.png`" v-bind:alt="title" />
          </h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you
            have chosen. Like, text, images, lists, etc.
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      title: "SKETSAHOUSE",
      logo: "logo",
      routes: [
        {
          name: "Home",
          path: "/",
        },
        {
          name: "Services",
          path: "/services",
        },
        {
          name: "Portfolio",
          path: "/portfolio",
        },
        {
          name: "Article",
          path: "/article",
        },
      ],
    };
  },
  methods: {
    remove(index) {
      this.routes.splice(index, 5);
    },
  },
};
</script>

<style>
.navbar {
  z-index: 1050;
}
.navbar-brand {
  color: var(--bs-white) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--ColorOrange);
  margin-right: 2rem;
  font-family: RobotoMedium;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--bs-white);
}
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--bs-white);
}
.btn-contact-navbar {
  border: 1px solid var(--ColorOrange);
  color: var(--ColorOrange);
  border-radius: 35px;
  font-family: RobotoMedium;
}
</style>