<template>
  <section class="section-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="heading">
            <h1 class="display-3">Our Creative portfolio</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna,
              consectetur eget sit nunc malesuada pharetra, urna.
            </p>
            <NuxtLink to="#" class="btn btn-outline-yellow w-100"
              >Our Work</NuxtLink
            >
          </div>
        </div>
        <div class="col-md-7 offset-md-1">
          <swiper class="swiper" :options="swiperOption">
            <swiper-slide>
              <div class="portfolio-cards my-5 my-md-0">
                <div class="card bg-transparent text-white">
                  <img
                    src="/img/illustration/portfolio.png"
                    class="card-img"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <div class="card-content">
                      <h5 class="card-title">Suzuki Indonesia</h5>
                      <p class="card-subtitle">Web Maintenance</p>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        In aenean nibh metus, ultrices dolor
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
export default {
  name: "swiper-example-vertical",
  title: "Vertical slider",
  data(){
    return{
      
    }
  },
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 2,
        spaceBetween: 15,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
        breakpoints: {
           
            768: {
              slidesPerView: 3,
              spaceBetween: 30
            },
            
          }
      },
    };
  },
};
</script>

<style>
.section-portfolio {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.section-portfolio .heading h1 {
  color: var(--bs-white);
  font-family: PoppinsBold;
}
.section-portfolio .heading p {
  color: var(--bs-white);
}

.section-portfolio .portfolio-cards .card-img-overlay {
  background: linear-gradient(180deg, rgba(164, 6, 6, 0.4) 0%, #d98324 100%);
  display: flex;
  align-items: end;
  border-radius: 20px;
}
.section-portfolio .portfolio-cards p.card-text {
  font-size: 14px;
}
</style>