<template>
  <section class="section-blog-detail py-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="blog-image">
            <img
              :src="detail._foto._origin"
              alt=""
              class="img-fluid rounded blog-image"
            />
          </div>
          <div class="blog-widget mt-3">
            <div class="timestamp">
              <p class="mb-0">{{ format_date(detail._waktu) }}</p>
            </div>
            <div class="share-icon"></div>
          </div>
          <div class="blog-title py-2">
            <h3>{{ detail._judul }}</h3>
          </div>
          <div class="blog-content">
            <p>
              {{ removeTags(detail._konten) }}
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="blog-side">
            <h5 class="heading">Latest News</h5>
          </div>
          <div class="card-recent">
            <div class="card mb-3 bg-transparent">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>


<script>
import moment from "moment";
export default {
  async asyncData({ $axios, params }) {
    const { data } = await $axios.$get(`/news-tips/${params.slug}`);
    return {
      detail: data,
    };
  },
  methods: {
    format_date(value) {
      if (value) {
        moment.locale("id");
        return moment(String(value)).format("MMMM DD, YYYY");
      }
    },
    removeTags(str) {
      if (str === null || str === "") return false;
      else str = str.toString();

      // Regular expression to identify HTML tags in
      // the input string. Replacing the identified
      // HTML tag with a null string.
      return str.replace(/(<([^>]+)>)/gi, "");
    },
  },
};
</script>

<style>
.blog-widget .timestamp p {
  color: var(--ColorOrange);
  font-size: 12px;
  letter-spacing: 0.03em;
}
.blog-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.blog-title h3 {
  font-family: PoppinsBold;
}

.blog-content p {
  color: rgba(255, 255, 255, 0.8);
}

/* ======= Aside ======= */
.blog-side {
  margin-left: 1.5rem;
}
.blog-side .heading {
  font-size: 20px;
  position: relative;
}
.blog-side .heading:after {
  content: "";
  bottom: -30%;
  left: 0;
  height: 1.5px;
  position: absolute;
  background: var(--ColorOrange);
  width: 20%;
}
</style>
