<template>
  <section class="section-article">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h1 class="display-5">The Blog</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="article-list">
            <div
              class="article-item"
              v-for="article of articles"
              :key="article.ID"
            >
              <div class="card">
                <img
                  :src="article.IMAGE.ORIGIN"
                  class="img-fluid rounded-start rounded"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-date">{{ article.PUBLISH_TIMESTAMP }}</p>
                  <h3 class="card-title">
                    {{ article.TITLE }}
                  </h3>
                  <p class="card-text" v-snip="3">
                    {{ article.SUMMARY }}
                  </p>
                  <NuxtLink
                    :to="buildUrl(article)"
                    class="navigation text-white"
                    >Read More&nbsp;<i class="bi bi-arrow-right arrow-read"></i
                  ></NuxtLink>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination mt-5">
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    const apiArticles = await $axios.$get("/news-tips/?limit=16");
    return {
      articles: apiArticles.data,
    };
  },
  methods: {
    buildUrl(article) {
      return "/article/" + this.$slugify(article.TITLE);
    },
  },
};
</script>

<style>
.section-article {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.section-article .heading h1 {
  color: var(--bs-white);
  font-family: PoppinsBold;
  text-transform: uppercase;
}

.section-article .article-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 14px;
  padding-top: 25px;
}

.section-article .article-item .card {
  background: var(--bs-transparent);
  border: 0;
}

.section-article .article-item .card img {
  height: 300px;
  object-fit: cover;
}

.section-article .article-item .card .card-body {
  padding-left: 0;
}
.section-article .article-item .card .card-text {
  color: var(--bs-gray-500);
  /* width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.section-article .article-item .card .card-date {
  color: var(--ColorOrange);
  font-size: 14px;
  /* margin-bottom: 0; */
}
.section-article .article-item .card .card-title {
  color: var(--bs-white);
  font-family: PoppinsBold;
}

.section-article .article-item .card .card-text {
  color: var(--bs-gray-500);
}

.section-article .article-item .card a.navigation {
  text-decoration: none;
  font-size: 14px;
  font-family: PoppinsMedium;
}

.section-article .article-item .card a.navigation .arrow-read {
  color: var(--ColorOrange);
}

.section-article .pagination .page-item a {
  background: transparent;
  border: 0;
  color: var(--ColorOrange);
}
.section-article .pagination .page-item.active a {
  background: var(--ColorOrange);
  color: #fff;
  border-color: var(--ColorOrange);
}
.section-article .pagination .page-item.disabled a {
  color: #6c757d;
}
.section-article .pagination .page-item a:focus {
  box-shadow: unset;
}

@media(max-width:768px){
  .section-article .article-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 14px;
  padding-top: 25px;
}
}
</style>
