<template>
  <div class="main-wrapper">
    <Hero />
    <CircleService />
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import CircleService from "@/components/Widget/CircleService.vue";

export default {
  components: {
    Hero,
    CircleService,
  },
};
</script>

<style>
.main-wrapper {
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media(max-width:768px){
  .main-wrapper{
    display: block;
  }
}
</style>