<template>
  <section class="section-services">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h5>#What We Do</h5>
            <h1 class="display-5">Things we do</h1>
            <h1 class="display-5">for Creative Brands</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="grid-services">
            <div class="service-item">
              <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="/img/illustration/economy.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Digital Marketing</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Feugiat imperdiet nam sodales ultrices quisque mauris
                        neque orci phasellus.
                      </p>
                      <NuxtLink to="#" class="navigation text-white"
                        >See More<i class="bi bi-arrow-right arrow-right"></i
                      ></NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-item">
              <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="/img/illustration/sosmed.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Digital Community</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Feugiat imperdiet nam sodales ultrices quisque mauris
                        neque orci phasellus.
                      </p>
                      <NuxtLink to="#" class="navigation text-white"
                        >See More<i class="bi bi-arrow-right arrow-right"></i
                      ></NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-item">
              <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="/img/illustration/ecommerce.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Digital Platform Development</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Feugiat imperdiet nam sodales ultrices quisque mauris
                        neque orci phasellus.
                      </p>
                      <NuxtLink to="#" class="navigation text-white"
                        >See More<i class="bi bi-arrow-right arrow-right"></i
                      ></NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-item">
              <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="/img/illustration/ads.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Public Relations</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Feugiat imperdiet nam sodales ultrices quisque mauris
                        neque orci phasellus.
                      </p>
                      <NuxtLink to="#" class="navigation text-white"
                        >See More<i class="bi bi-arrow-right arrow-right"></i
                      ></NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-services .heading h5 {
  color: var(--ColorOrange);
}
.section-services .heading h1 {
  color: var(--bs-white);
  font-family: PoppinsBold;
}
.section-services .grid-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
  padding-top: 25px;
}
.section-services .grid-services .service-item .card {
  background: transparent;
  color: var(--bs-white);
  border: 0;
}
.section-services .grid-services .service-item .card .navigation {
  text-decoration: none;
  font-size: 14px;
  font-family: PoppinsMedium;
}
.section-services .grid-services .service-item .card .navigation .arrow-right {
  color: var(--ColorOrange);
  margin-left: 0.5rem;
}
</style>